@font-face {
  font-family: "Sienarfont";
  font-style: normal;
  font-weight: 300, 400, 500, 700;
  font-display: swap;
  src: local("Sienarfont"),
    url("../fonts/SienarAFChariot.otf") format("opentype");
}

body {
  max-width: 1920px;
  margin: 0 auto !important;
  float: none !important;
}

video {
  /* override other styles to make responsive */
  /* max-width: 100% !important; */
  height: auto !important;
  border-radius: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

@media screen and (max-width: 900px) {
  .noHamburger {
    display: none;
  }
}

@media screen and (min-width: 901px) {
  .hamburger {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .pilotDesk {
    display: none;
  }
}

@media screen and (min-width: 601px) {
  .pilotMobile {
    display: none;
  }
}

.noSelect {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.noSelect:focus {
  outline: none !important;
}
